
<h1><%= @customer.name %></h1>
  <a href="/customers/<%= @customer.id %>/edit"> Edit Customer</a>
  <a href="/customers/<%= @customer.id %>">Delete Customer </a><br>

<div>
  <% @customer.comments.each do |comment| %>
    <p><%= comment.user.username %> says: <%= comment.content %></p>
  <% end %>
</div>

<div>
  <form action="/comments" method="POST">
    <label for="content">Make a New Comment: </label><br>
    <input type="text" id="content" name="content">
    <input type="hidden" name="customer_id" value="<%= @customer.id %>">
    <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
    <input type="submit" value="Add Comment">
  </form>
</div>